<!DOCTYPE html>
<html>
    <head>
        <title>QR Code Generator </title>
        <link rel="stylesheet" type="text/css" href="static/css/styles_v2.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function submitForm() {
                document.getElementById("file-form").submit();
            }
        </script>
    </head>

    <body>
        <div id="app-form">
            <h2 class="header">QR Code Generator &#x1F911</h2>
            <form id="file-form" action="{{ url_for('generate_url') }}" method="post" enctype="multipart/form-data">
                <label class="file-upload" class="file-upload">
                    <input type="file" name="qr_file" onchange="submitForm()">
                    Select a QR Code
                </label>
            </form>

            <form action="{{ url_for('generate_qrcode') }}" method="POST">
                </br>
                <input type="text" id="qr_content" name="qr_content" value="{{ url }}">
                <button type="submit">Generate QR code</button>
            </form>

            </br>
            {% if url %}
                <img src="{{ url_for('update_qr_image') }}?{{url}}" alt="QR Code">
                <form action="{{ url_for('download_qrcode') }}?{{url}}" method="post" enctype="multipart/form-data">
                    <button type="submit">Download QR Code</button>
                </form>
            {% endif %}
        </div>
    </body>
</html>
