<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
</head>
<body>
    <form action="{{ url_for('generate_url') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="qr_file" value="Select a QR code file">
        </br>
        <input type="submit" value="Generate URL">
    </form>

    <form method="POST">
        <input type="text" id="qr_content" name="qr_content" value="{{ url }}">
        </br>
        <input type="submit" value="Generate QR code">
    </form>

    </br>
    {% if url %}
        <img src="{{ url_for('qr_code') }}?{{url}}" alt="QR Code">
    {% endif %}

    <form action="{{ url_for('download_qrcode') }}" method="post" enctype="multipart/form-data">
        <input type="submit" value="Download QR code">
    </form>
</body>
</html>
